extends layout

block content
  div(class="content")
    h1(class="title")= title
    div(class="msgs_div")
      each message in messages 
        div(class="msg_div")
          p(class="msg_title") #{message.title}
          p(class="msg_text") #{message.text_message}
          p(class="msg_time") #{message.timestamp}
          if currentUser && currentUser.isMember
            p(class="msg_username") - #{message.author.username}
            if currentUser.isAdmin
              form(method="POST" action='')
                input#messageId(type="hidden", name="messageId", value=message._id)
                button(type="submit") Delete

